footer{
	color:#FFFFFF;
	background-color:#3333CC;
	text-align:Left;
	font-size:1rem;
	display: flex;
	flex-direction: row;
}
/*Left*/
.footer-section-left{
	margin: 2rem;
}
.footer-nav-left{
	display: flex;
	flex-direction: row;
	gap:0;
}
.footer-div-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}
.footer-subdiv-left{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.footer-subdiv-left img{
	width: 15%;
}
.footer-subdiv-left:first-child{
	font-size: 3rem;
	font-weight: bold;
}
.footer-subdiv-left:last-child{
	opacity: 0.7;
}
.footer-subdiv1-left{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:0.5em;
	padding: 0.3em;
}
.footer-subdiv1-left p:nth-of-type(1){
	border: 1px solid white;
	padding: 0.1em;
	border-radius: 50%;
}

.footer-nav-img{
	padding-top: 2rem;
}
.footer-div-img{
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}
.footer-div-img img{
	width: 32px;
	height: 32px;
}
/*Right*/
.footer-section-right{
	margin: 2rem;
	display: flex;
	flex-direction: column;
}
.footer-nav-right{
	display: flex;
	flex-direction: column;
}
.footer-div-right{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap:1em;
}
.footer-div-right img:nth-of-type(1){
	width: 10%;
}
.footer-div-right img:nth-of-type(2){
	width: 32px;
	height: 32px;
}

.footer-midnav-right{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap:1rem;
	padding-top: 2rem;
}
.store-middiv-right,.play-middiv-right{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: black;
	background-color: #FFFFFF;
	border:1px;
	border-radius: 10%;
	gap:1rem;
	width: 30%;
}
.store-middiv-right{
	justify-content: flex-start;
}
.play-middiv-right{
	justify-content: flex-start;
}

.img-right{
	width: 20%;
}
