.main1, .main2, .main3 {
    color: black;
    text-align: left;
    margin: 0;
    padding: 2rem;
}

/* Main 1 */
.main1 {
    display: flex;
    background-color: #FFFFCC;
    padding: 2rem;
    gap: 10rem;
    flex-direction: row;
    justify-content: center;
}

/* Left */
.main1-left {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    flex:1
}
.main1-section-left{
    margin-top: 5rem;
}
.main1-div-left{
    display: block;
    max-width: 90%;
}
.main1-div-left p:nth-of-type(1) {
    opacity: 0.5;
}
.main1-div-left p:nth-of-type(2){
    font-size: 3rem;
    margin-bottom:2rem;
    font-weight: bold;
}
.main1-div-left p:nth-of-type(3){
    background-color: aqua;
    margin-top: 2rem;
    display: block;
    text-align: center;
    padding: 1rem;
    max-width: 50%;
}

/* Right */
.main1-right {
    display: flex;
    flex-direction: column;
}
.main1-section-right{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
}
.main1-div-right{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.img-top-left{
    display: block;
    width: 20rem;
    height: 15rem;
}
.img-bottom-left{
    display: block;
    margin-left: 10rem;
}

/* Main 2 */
.main2-top{
    padding: 2rem;
}
.main2-top-p{
    font-size: 3rem;
}
.main2-grid,.main2-section,.main2-top{
    justify-content: center;
    align-items: center;
}
.main2,.main2-top{
    display: flex;
    flex-direction: column;
}
.main2-section{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    align-items: center;
}
.main2-grid{
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    width: 20rem;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background-color: white;
}
.main2-icon{
    display: block;
    width: 30%;
}
.main2-div{
    text-align: center;
    padding-top: 0.5em;
    text-wrap: nowrap;
}
.main2-ol{
    display: inline-flex;
    flex-wrap: nowrap;
}
/* Main 3 */
.main3{
    margin: 2rem;
    padding: 2rem;
}
.main3-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}
.main3-nav{
    background-color: #99FFFF;
    border-radius: 10%;
    padding-bottom: 1rem;
    flex: 1;
    min-width: 100px;
}
.main3-div{
    width: 100%;
    padding: 0;
}
.main3-div img{
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.main3-subdiv-p{
    padding: 1rem
}
.main3-subdiv1-p p:nth-of-type(1){
    opacity: 0.5;
    padding-bottom: 1rem;
}
.main3-div-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    margin: 0;
    gap:2rem;
}
.main3-div-button button:nth-of-type(1){
    background-color: white;
    display: inline-block;
    border-radius: 1em;
    width: 10em;
    padding: 1em;
}
.main3-div-button button:nth-of-type(2){
    background-color: #0099FF;
    display: inline-block;
    border-radius: 1em;
    width: 10em;
    padding: 1em;
}
